.test{
    background-color: blueviolet;
    padding:40px;
    border: 15px dotted greenyellow;
    margin: 30px;
    border-radius: 100%;


}
.contaner-1{

}
.contaner-2{

}
.contaner-3{

}
.contaner-4{

}
.contaner-5{
    
}